/* Page horizontal padding */
.page-border {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/* Pill navbar */
.navbar-header {
  background: transparent;
}

.navbar-pill {
  border-radius: 9999px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.hover-button:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}

.project-entry-gap {
  gap: 3rem;
}

@media (min-width: 1200px) {
  .project-entry-gap {
    gap: 8rem;
  }
}
